# Dependencies
node_modules/
venv/
__pycache__/
*.py[cod]
*$py.class

# Build outputs
dist/
build/
*.exe
*.dll
*.so
*.dylib
*.lnk
*.o
*.info
smakefile
WHDArchiveExtractor


# Environment files
.env
.env.local
.env.*.local
.clangd

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/
.coverage
htmlcov/

# Temporary files
*.tmp
*.temp
.cache/

# System Files
Thumbs.db
desktop.ini 

compile_commands.json